body{
    text-align: center;
    background-image: url(img/background-1.png);
}
.data{
    text-wrap: wrap;
}
main {
    border: 3px solid;
    padding: 10px;
    margin: 10px;
    border-radius: 15px;
    text-align: center;
    min-height: calc(100vh - 70px);
  }
footer {
    height: 50px; background: gray;
  }

.form_task_CSS{
  border: 2px solid;
  border-radius: 15px;
  padding: 10px;
  margin: 10px;
}
.mb-3{
  border: 2px solid;
  border-radius: 15px;
  padding: 10px;
  margin: 10px;
}