body{
    text-align: center;
    background-image: url(img/background-1.png);
}
.data{
    text-wrap: wrap;
}
main {
    border: 3px solid;
    padding: 10px;
    margin: 10px;
    border-radius: 15px;
    text-align: center;
    min-height: calc(100vh - 70px);
  }
footer {
    height: 50px; background: rgba(128, 128, 128, 0);
    text-align: center;
  }

.form_task_CSS{

  padding: 10px;
  margin: 10px;
}
.mb-3{
  color: white;
  border: 2px solid;
  border-radius: 15px;
  padding: 10px;
  margin: 10px;
  margin-left: 150px;
  margin-right: 150px;
}
.form_control_task_input{
  padding-top: 250px;
}

.taskForm{
  text-align: center;
}
.heading{
  color: white;
}
