{% extends "base.html" %}

{%block body%}
<h1>Добавить Задачу</h1>
<form class="form_task_CSS" id="taskForm" method="post">

    <div class="mb-3">
        <label for="exampleFormControlInput1" class="taskForm">Задача</label>
        <input type="text" class="form-control-task" id="title" name="title">
    </div>

    <div class="mb-3">
        <label for="exampleFormControlTextarea1" class="taskForm">Описание задачи</label>
        <textarea class="form-control-task" id="description" name="description"></textarea>
    </div>

</form>

<script>
    let taskForm = document.getElementById('taskForm');
    taskForm.addEventListener('submit', function(event){
        event.preventDefault();
        let title = document.getElementById('title');
        let description = document.getElementById('description');
        const data = {"title": title.value, "description":description.value}
        console.log(data)
        
        fetch('http://127.0.0.1:8000/add_task/', {
            method: "POST",
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(data)
        })

    })
</script>
{%endblock%}  