<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tasks</title>
    <link rel="stylesheet" href="{{ url_for('static', path='styles.css') }}">
</head>
<body>

    <hr>
    <button><a href="/index/">HOME</a></button>
    <button><a href="/add_task/">Add Task</a></button>
    <button><a href="/list_task/">List Task</a></button>
    </body>
    <hr>
    <h3 class="data">
        {%block body%}
        {%endblock%}
    </h3>
    
    <hr>
</body>
</html>
