{% extends "base.html" %}

{%block body%}
<h1 class="heading">Добавить Задачу</h1>


<form class="form_task_CSS" id="taskForm" method="post">

    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Задача</label>
        <input type="text" class="form-control" id="TaskFormTitle" >
    </div>
    <div class="mb-3">
        <label for="exampleFormControlTextarea1" class="form-label">Описание</label>
        <textarea class="form-control" id="TaskFormDecription" rows="3" placeholder="Опишите зачаду"></textarea>
    </div>
    <button style="border: 2px solid;" type="submit" class="btn btn-secondary" id="button_add_task">Добавить</button>
    

</form>

<script>
    const taskFormAdd = document.getElementById('button_add_task');
                taskFormAdd.addEventListener('click', function(event){
                    event.preventDefault();
                    let TaskFormTitle = document.getElementById('TaskFormTitle');
                    let TaskFormDecription = document.getElementById('TaskFormDecription');
                    data = {'title': TaskFormTitle.value, 'description': TaskFormDecription.value};
                    fetch(reqPostCreateTask, {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify(data)
                    })
                    TaskFormTitle.value = '';
                    TaskFormDecription.value = '';
                    console.log(TaskFormTitle.value, TaskFormDecription.value)
                    console.log('Task ADD')
                })
</script>
{%endblock%}  