{% extends "base.html" %}


{%block body%}
<h1 class="heading">Главная страница</h1>

<hr>

<h4 class="heading">Это Приложение еще в разработке!</h4>

<h1>Количество задач</h1>
<hr>
<h1>Список задач</h1>
<hr>


<ul id="ulTask">
</ul>


<form class="form_task_CSS" id="taskForm" method="post">

    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Задача</label>
        <input type="text" class="form-control" id="TaskFormTitle" >
    </div>
    <div class="mb-3">
        <label for="exampleFormControlTextarea1" class="form-label">Описание</label>
        <textarea class="form-control" id="TaskFormDecription" rows="3" placeholder="Опишите зачаду"></textarea>
    </div>
    <button style="border: 2px solid;" type="submit" class="btn btn-secondary" id="button_add_task">Добавить</button>
    

</form>

<button style="border: 2px solid;" type="submit" class="btn btn-secondary" id="button_list_tasks">показать список задач</button>

            <script>
                const  reqgetListTask = 'http://127.0.0.1:8000/api/tasks/list_task/'
                const  reqPostCreateTask = 'http://127.0.0.1:8000/api/tasks/create/'

                const taskObjact = {
                    listTask:[],
                }  

                task = {}

                let button_list_tasks = document.getElementById('button_list_tasks');
                button_list_tasks.addEventListener('click', renderTask);

                // делает GET запрос на reqGetListTask гле получаем список задач и присваеваем данные //

/*                 fetch(new Request(reqgetListTask)).then((response) => 
                response.json().then((data) => {
                    taskObjact.listTask.push(data)
                    taskObjact.listTask = data

                    ulTask = document.getElementById('ulTask');
                    for (let i = 0; taskObjact.listTask.length-1; i++){
                        el_li = document.createElement('li');
                        el_id = document.createElement('h2');
                        el_title = document.createElement('h2');
                        el_description = document.createElement('h4');
                        el_status = document.createElement('h2');
                        console.log(taskObjact.listTask)
                        el_title = taskObjact.listTask[i].title;
                        el_description = taskObjact.listTask[i].description;
                        el_li.append(el_title);
                        ulTask.append(el_li);
                    }


  
                })) */
                
                function renderTask(){
                    
                    fetch(reqgetListTask).then(response => response.json()).then(tasks => {
                        const ulTask = document.getElementById('ulTask');
                        ulTask.innerHTML = ''
                        for (let i = 0; i < tasks.length; i++){
                            el_li = document.createElement('li');
                            el_id = document.createElement('h2');
                            el_title = document.createElement('h2');
                            el_description = document.createElement('h4');
                            el_status = document.createElement('h2');
                            el_button_del = document.createElement('button');
                            el_button_upData = document.createElement('button');
                            /* присваеваем значение из JSON */
                            el_title.textContent = tasks[i].title;
                            el_description.textContent = tasks[i].description;
                            el_id.textContent = tasks[i].id;
                            el_status.textContent = tasks[i].status;
                            console.log(tasks[i].title);
                            el_div = document.createElement('div');
                            el_div.append(el_title, el_description, el_status, el_button_del);
                            el_li.append(el_div);
                            ulTask.append(el_li);
                            
                            el_button_del.textContent = 'Удалить';
                            /* el_button_del.class = 'btn btn-secondary'; */
                            el_button_del.id = `task_id=${tasks[i].id}`
                            el_button_del.addEventListener('click', function(event){
                                event.preventDefault();
                                url = 'http://127.0.0.1:8000/api/tasks/delete/'+'?'+this.id
                                console.log(url);
                                fetch(url, { 
                                    method: 'DELETE'
                                })
                renderTask()
                renderTask()
                            



                            })
                        }
                    })
                }



                const taskFormAdd = document.getElementById('button_add_task');
                taskFormAdd.addEventListener('click', function(event){
                    event.preventDefault();
                    let TaskFormTitle = document.getElementById('TaskFormTitle');
                    let TaskFormDecription = document.getElementById('TaskFormDecription');
                    data = {'title': TaskFormTitle.value, 'description': TaskFormDecription.value};
                    fetch(reqPostCreateTask, {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify(data)
                    })
                    TaskFormTitle.value = '';
                    TaskFormDecription.value = '';
                    console.log(TaskFormTitle.value, TaskFormDecription.value)
                    console.log('Task ADD')
                })


                    



            </script>
<!--             <script>
                let delete_task = document.getElementsByClassName('delete_task');
                let exelent_task = document.getElementsByClassName('completed_task');
                
                exelent_task.addEventListener('click', function(){
                    console.log('completed')
                })
                delete_task.addEventListener('click', function(){
                    console.log('delete')
                })
            </script> -->















<script src="{{ url_for('static', path='script.js') }}"></script>
{%endblock%} 