{% extends "base.html" %}

{%block body%}
<h1>Количество задач</h1>

<hr>
<h1>Список задач</h1>
<hr>
<form id="taskFormCreate">
    <label for="">num</label>
    <label for=""></label>
</form>
            <script>
                const  reqgetListTask = 'http://127.0.0.1:8000/api/tasks/list_task/'
                const  reqPostCreateTask = 'http://127.0.0.1:8000/api/tasks/add_task/'
                const taskObjact = {
                    listTask:[],
                }

                fatch(new Request(reqgetListTask)).then(
                    response => response.json()
                ).then(
                    data => taskObjact.listTask.push(data)
                )

                console.log(taskObjact.listTask)



            </script>
<!--             <script>
                let delete_task = document.getElementsByClassName('delete_task');
                let exelent_task = document.getElementsByClassName('completed_task');
                
                exelent_task.addEventListener('click', function(){
                    console.log('completed')
                })
                delete_task.addEventListener('click', function(){
                    console.log('delete')
                })
            </script> -->

            
{%endblock%}  