{% extends "base.html" %}


{%block body%}
<h1>Регистрация</h1>
<form>
    <div class="mb-3">
      <label for="exampleInputLogin1" class="form-label">Логин</label>
      <input type="login" class="form-login" id="user_login" aria-describedby="loginHelp">
    </div>

    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Пароль</label>
      <input type="password" class="form-login" id="exampleInputPassword1">
    </div>

    <button type="submit" class="btn btn-primary">Регистрация</button>
</form>

<script src="{{ url_for('static', path='script.js') }}"></script>
{%endblock%} 